body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}
/*.header-container, .signup, .image-section, .quote, .action {
    display: flex;
    flex: 1;
}*/
    
.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.signup {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    
}

.image-section {
    display: flex;
    flex-direction: column;
}

.Random {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.subimage {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 58px;
}
.image-section ul{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex: 1;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
}


a {
    color: black;
    text-decoration: none; /* no underline */
  }

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

.action {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    font-size: 16px;
    color: #F9FAF8;
}

.hero-secondary, .placeholder {
    font-size: 18px;
    color: #e5e7eb;
}

