body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 200vh;
}
/*.header-container, .signup, .image-section, .quote, .action {
    display: flex;
    flex: 1;
}*/
    
.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    flex: 0.3;
}

.header-logo {
    padding-left: 24px;
    padding-top: 24px;;
}

.links {
    padding-right: 24px;
    padding-top: 24px;
}
.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1F2937;
}
.signup-container {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sign-button {
    width: 120px;
}

.placeholder {
    font-size: 18px;
    border: 2px solid white;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    background-color: #E5E7EB;
}

.image-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Random {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.subimage {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 16px;
    gap: 115px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    flex: 1;
}

.credit {
    display: flex;
    align-self: flex-end;
    margin-right: 200px;
}
.quote-text, .signup-container{
    margin: 50px 200px;
}

a {
    color: black;
    text-decoration: none; /* no underline */
  }

.texts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 250px;
    padding-right: 250px;
  }
  
.text {
    text-align: center;
  }

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    flex: 1;
}

.action-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 36px;
    border-radius: 8px;
    width: 1200px;
    color: #e5e7eb;
    height: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    flex: 0.3;
    color: #e5e7eb;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    font-size: 16px;
    color: #F9FAF8;
    border: 2px solid white;
    border-radius: 8px;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    width: 120px;
    height: 120px;
}

